In [32]:
# reads in layuplist coures reviews
import pandas as pd
layuplistdb = pd.read_csv('../data/layuplist_reviews.csv')
layuplistdb

,courseReviewRaw,Course
0,\n08W\n with Lindsay F.:\n ...,AAAS007: First Year Seminar
1,\n08W\n with Lindsay F.:\n ...,AAAS007: First Year Seminar
2,\n08W\n with Lindsay F.:\n ...,AAAS007: First Year Seminar
3,\n07W\n with Ayo Coly:\n ...,AAAS007: First Year Seminar
4,\n07W\n with Ayo Coly:\n ...,AAAS007: First Year Seminar
...,...,...
29025,\n09S\n with Jennifer Brooke:\n ...,WRIT043: The Written Judicial Opinion
29026,\n09S\n with Jennifer Brooke:\n ...,WRIT043: The Written Judicial Opinion
29027,\n09S\n with Jennifer Brooke:\n ...,WRIT043: The Written Judicial Opinion
29028,\n09S\n with Jennifer Brooke:\n ...,WRIT043: The Written Judicial Opinion
29029,\n09S\n with Jennifer Brooke:\n ...,WRIT043: The Written Judicial Opinion

In [33]:
# sample raw test from layuplist
test = layuplistdb.courseReviewRaw[5]
test.split('\n')

['',
 '05S',
 ' with William W.:',
 '                        ',
 "                        \tSo I took this course for the distribs-CI and LIT.  Although I really don't like English classes, this wasn't all that bad.  See Cook is a great prof.  He just goes off talking about stuff during class and seems to know everything about literature.  If you can, take a class with him.",
 '                    ']

In [34]:
# gets department name from Course column
def extract_department(row):
    s = row['Course'].split(':')[0]
    result = ''.join([i for i in s if not i.isdigit()])
    return result

# gets term based on placement in review text
def extract_term(row):
    return row['courseReviewRaw'].split('\n')[1].strip()

# gets professor name based on placement and keyword 'with'
# catches error where course does not have professor 
def extract_prof(row):
    try:
        return row['courseReviewRaw'].split('\n')[2].split("with",1)[1].strip()[:-1]
    except:
        return None

# gets review from all sections after professor
def extract_review(row):
    text_list = row['courseReviewRaw'].split('\n')[3:]
    return ''.join(text_list).strip()

layuplistdb['Department'] = layuplistdb.apply(extract_department, axis = 1)
layuplistdb['Term'] = layuplistdb.apply(extract_term, axis = 1)
layuplistdb['Prof'] = layuplistdb.apply(extract_prof, axis = 1)
layuplistdb['Review'] = layuplistdb.apply(extract_review, axis = 1)

layuplistdb = layuplistdb.drop(columns=['courseReviewRaw'])

layuplistdb = layuplistdb.dropna()

layuplistdb

,Course,Department,Term,Prof,Review
0,AAAS007: First Year Seminar,AAAS,08W,Lindsay F.,"Never having studied African history, the mate..."
1,AAAS007: First Year Seminar,AAAS,08W,Lindsay F.,I personally am not that interested by the top...
2,AAAS007: First Year Seminar,AAAS,08W,Lindsay F.,the professor was uninspiring and was easily i...
3,AAAS007: First Year Seminar,AAAS,07W,Ayo Coly,The pace of this course is a little hectic. It...
4,AAAS007: First Year Seminar,AAAS,07W,Ayo Coly,This class definitely had a lot of reading to ...
...,...,...,...,...,...
29025,WRIT043: The Written Judicial Opinion,WRIT,09S,Jennifer Brooke,I signed up for this course hoping for exposur...
29026,WRIT043: The Written Judicial Opinion,WRIT,09S,Jennifer Brooke,"I took this class because I love the law, and ..."
29027,WRIT043: The Written Judicial Opinion,WRIT,09S,Jennifer Brooke,As someone who is extremely interested in the ...
29028,WRIT043: The Written Judicial Opinion,WRIT,09S,Jennifer Brooke,This was the best non-science class I have tak...
29029,WRIT043: The Written Judicial Opinion,WRIT,09S,Jennifer Brooke,Overall a very inspiring class. Possibly my fa...

In [35]:
layuplistdb.to_csv('../data/layuplist_cleaned.csv')