In [5]:
# merges the two datasets

import pandas as pd
layuplistdb = pd.read_csv('../data/layuplist_cleaned.csv', index_col = 0)
layuplistdb

,Course,Department,Term,Prof,Review
0,AAAS007: First Year Seminar,AAAS,08W,Lindsay F.,"Never having studied African history, the mate..."
1,AAAS007: First Year Seminar,AAAS,08W,Lindsay F.,I personally am not that interested by the top...
2,AAAS007: First Year Seminar,AAAS,08W,Lindsay F.,the professor was uninspiring and was easily i...
3,AAAS007: First Year Seminar,AAAS,07W,Ayo Coly,The pace of this course is a little hectic. It...
4,AAAS007: First Year Seminar,AAAS,07W,Ayo Coly,This class definitely had a lot of reading to ...
...,...,...,...,...,...
29025,WRIT043: The Written Judicial Opinion,WRIT,09S,Jennifer Brooke,I signed up for this course hoping for exposur...
29026,WRIT043: The Written Judicial Opinion,WRIT,09S,Jennifer Brooke,"I took this class because I love the law, and ..."
29027,WRIT043: The Written Judicial Opinion,WRIT,09S,Jennifer Brooke,As someone who is extremely interested in the ...
29028,WRIT043: The Written Judicial Opinion,WRIT,09S,Jennifer Brooke,This was the best non-science class I have tak...
29029,WRIT043: The Written Judicial Opinion,WRIT,09S,Jennifer Brooke,Overall a very inspiring class. Possibly my fa...

In [6]:
courseassessmentdb = pd.read_csv('../data/course_assessment_cleaned.csv', index_col = 0)
courseassessmentdb

,Term,Review,Department,Course Name,Prof Name
0,18F,"Perfect pace, syllabus, and content.",AAAS,AAAS 39.02: History of Jazz since 1959,Donald Glasgo
1,18F,The listening quizzes were effective in that t...,AAAS,AAAS 39.02: History of Jazz since 1959,Donald Glasgo
2,19F,"The workload was very manageable, and the quiz...",AAAS,AAAS 39.02: History of Jazz since 1959,Donald Glasgo
3,19F,"liked the variation in tests, journals, and pe...",AAAS,AAAS 39.02: History of Jazz since 1959,Donald Glasgo
4,19F,quizzes and final project,AAAS,AAAS 39.02: History of Jazz since 1959,Donald Glasgo
...,...,...,...,...,...
56922,19S,I enjoyed the course and learned a lot about h...,WRIT,WRIT 07.24: Past Imperfect,Cynthia Monroe
56923,19S,I think of and read history in a new way now. ...,WRIT,WRIT 07.24: Past Imperfect,Cynthia Monroe
56924,19S,It made me like studying history a bit more.,WRIT,WRIT 07.24: Past Imperfect,Cynthia Monroe
56925,19S,It made me more optimistic. I found the Profes...,WRIT,WRIT 07.24: Past Imperfect,Cynthia Monroe
56926,19S,Not a lot,WRIT,WRIT 07.24: Past Imperfect,Cynthia Monroe

In [8]:
# uses concat to perform the merge
combiner = [layuplistdb, courseassessmentdb]
combined = pd.concat(combiner)
combined = combined.dropna()
combined

,Course,Department,Term,Prof,Review
0,AAAS007: First Year Seminar,AAAS,08W,Lindsay F.,"Never having studied African history, the mate..."
1,AAAS007: First Year Seminar,AAAS,08W,Lindsay F.,I personally am not that interested by the top...
2,AAAS007: First Year Seminar,AAAS,08W,Lindsay F.,the professor was uninspiring and was easily i...
3,AAAS007: First Year Seminar,AAAS,07W,Ayo Coly,The pace of this course is a little hectic. It...
4,AAAS007: First Year Seminar,AAAS,07W,Ayo Coly,This class definitely had a lot of reading to ...
...,...,...,...,...,...
56922,WRIT 07.24: Past Imperfect,WRIT,19S,Cynthia Monroe,I enjoyed the course and learned a lot about h...
56923,WRIT 07.24: Past Imperfect,WRIT,19S,Cynthia Monroe,I think of and read history in a new way now. ...
56924,WRIT 07.24: Past Imperfect,WRIT,19S,Cynthia Monroe,It made me like studying history a bit more.
56925,WRIT 07.24: Past Imperfect,WRIT,19S,Cynthia Monroe,It made me more optimistic. I found the Profes...
56926,WRIT 07.24: Past Imperfect,WRIT,19S,Cynthia Monroe,Not a lot

In [9]:
combined.to_csv('../data/course_review_db.csv')